.project
.pydevproject
.settings/
build
dist/
snapclientmpris.egg-info/
.pybuild/

__pycache__/

# dpkg-buildpackage artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/snapclientmpris/
debian/snapclientmpris.debhelper.log
debian/snapclientmpris.postinst.debhelper
debian/snapclientmpris.postrm.debhelper
debian/snapclientmpris.prerm.debhelper
debian/snapclientmpris.substvars
debian/tmp/
*.deb
*.buildinfo
*.changes
