.project
.pydevproject
.settings/
build
dist/
snapcastmpris.egg-info/
.pybuild/
snapcastmpris_built.deb

# dpkg-buildpackage artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/snapcastmpris/
debian/snapcastmpris.debhelper.log
debian/snapcastmpris.postinst.debhelper
debian/snapcastmpris.postrm.debhelper
debian/snapcastmpris.prerm.debhelper
debian/snapcastmpris.substvars
debian/tmp/
*.deb
*.buildinfo
*.changes
