[Unit]
Description=Snapcast MPRIS2 bridge
After=network-online.target snapclient.service
Wants=network-online.target snapclient.service
ConditionUser=!root
ConditionUser=!@system

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.snapcast
ExecStart=/usr/bin/snapclientmpris
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
